.container {
    max-width: 1080px;
    margin: 20px auto;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

body{
    --primary-color: rgb(81, 5, 81);
    --secondary-color: rgb(146, 63, 146);
}